.footer {
  min-height: 100px;
  background: rgba(83, 44, 44, 0.863);
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: rgba(83, 44, 44, 0.863);
}
